---
layout: default
---

{% include nav-blog.html %}

<div class="home">

  <div class="about">
    <p>Success and failure. In chronological order</p>
  </div>

  <ul class="post-list">
    {% for post in site.posts %}
        {% unless post.categories contains 'Roast' %}
      <li>
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="meta-date">{{ post.date | date_to_string }}</div>
      </li>
      {% endunless %}
  {% endfor %}
  </ul>

  <div class="comment">
    <p>Comments, thoughts? Get in touch via&nbsp;<a href="https://twitter.com/berndplontsch">Twitter</a>.</p>
  </div>

</div>
