---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
        {% if post.categories contains 'Roast' %}
      <li>
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="meta-date">{{ post.date | date_to_string }}</div>
        <div class="meta-date"><img src="{{ site.baseurl }}/assets/{{ post.tags }}@2x.png" width="300px" title="Roast duration and moment of first crack" />
      </li>
      {% endif %}
  {% endfor %}
  </ul>

  <div class="about">
    <p>In search for the perfect taste I am exploring coffee, roast by roast. All beans are single origin. Roasted in a popcorn popper on a balcony in Berlin by me, <a href="https://twitter.com/berndplontsch">Bernd Plontsch</a>.</p>

    <p>Currently there is no coffee available for order. If you want to be notified about purchasing opportunities please sign up for our Roast Signals newsletter here. Enjoy.</p>

  </div>

  <!-- <img src="{{ site.baseurl }}/assets/kohi_header.jpg" alt="" width="600" /> -->

</div>

{% include footer-roasts.html %}
