---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
        {% if post.categories contains 'Roast' %}
      <li>
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="meta-date">{{ post.date | date_to_string }}</div>
        <div class="meta-date"><img src="{{ site.baseurl }}/assets/{{ post.tags }}@2x.png" width="300px" title="Roast duration and moment of first crack" />
      </li>
      {% endif %}
  {% endfor %}
  </ul>

  <div class="legend"><img src="{{ site.baseurl }}/assets/LegendCrack.png" width="10px" alt="First Crack" /> First crack <img src="{{ site.baseurl }}/assets/LegendDuration.png" width="10px" alt="Roast duration" /> Relative duration </div>

  <div class="about">
    <p>This is my journey to understanding what makes coffee great. I am looking for light roasts and a mild taste, focussing on single origin beans. From consumer to roaster I am <a href="/blog.html">documenting</a> dead ends and bitter insights. If you are interested in exchanging samples of your own home roast coffee let's <a href="https://twitter.com/berndplontsch">get in touch</a>. Explore!</p>
    <p>— Bernd</p>
  </div>

  <!-- <img src="{{ site.baseurl }}/assets/kohi_header.jpg" alt="" width="600" /> -->

</div>

{% include footer-roasts.html %}
