---
layout: default
---

{% include nav-roasts.html %}

<div class="home">

  <div class="about">
    <p>See Balconia Coffee unfold, roast by roast. All beans roasted on a balcony in Berlin using a popcorn popper.</p>
  </div>

  <ul class="post-list">
    {% for post in site.posts limit:8 %}
        {% if post.categories contains 'Roast' %}
      <li>
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="meta-date">{{ post.date | date_to_string }}</div>
        <div class="meta-date"><img src="{{ site.baseurl }}/assets/{{ post.tags }}.png" width="400px" title="Roast duration and moment of first crack" />
      </li>
      {% endif %}
  {% endfor %}
    <li>{% include roast-finder.html %}</li>
  </ul>

<div class="comment">
I create a page for every roast with its process and parameters. Know what you drink.
</div>

</div>
