<header class="site-header">

  <div class="wrapper">


    <nav class="site-nav">
          <ul>
            <li><a class="page-link-thin" href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/assets/balconia_logo.png" width="20" alt="Balconia Coffee" /></a></li>
            <li><a class="page-link" href="{{ site.baseurl }}/index.html">Roasts</a></li>
            <li><a class="page-link" href="{{ site.baseurl }}/blog.html">Notes</a></li>
            <li><a class="page-link" href="{{ site.baseurl }}/order/">Get&nbsp;Coffee</a></li>
          </ul>
    </nav>

  </div>

</header>
