/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    h1 {
      margin-top: 2em;
      margin-bottom: 0;
    }
}


.site-nav {
    margin-top: 2em;
    text-align: center;
    // float: right;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $headline-font-family;
    font-weight: 800;
    font-size: 1.2em;
    a {
      color:$grey-color-dark;
      .active {
        color:$brand-color;
      }
    }
    padding: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    ul {
      display: block;
      li {
        list-style-type: none;
        display: inline;
        padding: 16px;
      }
    }
}



/**
 * Site footer
 */


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit * 2  ;
    }

    ul {
      margin-bottom: $spacing-unit/2  ;
    }

    h2, .post-link {

      font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
      color: $grey-color-dark;
      padding-right: 6px;
      display: inline;
    }

    .meta-date {
      display: inline;
      color: $grey-color
    }
}


.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    text-align: center;

    .header-title h1 {
      font: $base-font-weight #{$base-font-size}/#{$base-line-height} $headline-font-family;
      font-weight: 800;
      font-size: 2.6em;
      letter-spacing: 0.01em;
      line-height: 1.3;
      color: $grey-color-dark;
      margin-bottom: 10px;
    }

    h2.header-subtitle {
      margin-top: 10px;
    }

    .divider {
      height:1px;
      background-color: $alternate-brand-color;
      width: 100px;
      margin: 0 auto;
    }

}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        // font-size: 26px;

        @include media-query($on-laptop) {
            // font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

// .blog, .post {
//   img {
//     margin-top: 1em;
//   }
//
//   h2 .post-link {
//
//       font: $base-font-weight #{$base-font-size}/#{$base-line-height} $headline-font-family;
//       font-weight: 800;
//       font-size: 2.2em;
//       letter-spacing: 0.01em;
//       line-height: 1.3;
//       color: $grey-color-dark;
//       margin-bottom: 10px;
//
//     display:block;
//   }
//
//   h2 {
//       display:block;
//   }
//
//   h1.post-title {
//     font-size: 1.4em;
//   }
// }


.home h3 {
  padding-bottom: 1.2em;
}

.post-list {
    margin-left: 0;
    padding-bottom: 0.6em;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 2  ;
    }
  }

.enjoy {
  text-align: center;
  img {
    width: 150px;
  }
}

.site-nav a.active {
  color:$black-color;
}

.site-nav a {
  color:$grey-color;
}

.legend {
  margin-top: -1.2em;
  padding-bottom: 2.0em;
  img {
    padding-bottom: 4px;
  }
}

.roast-lookup {
  text-align: center;
}

form {
  margin-left: 0px;
  padding-left: 0px;
  input {
    margin-left: 0px;
    padding-left: 0px;
  }
}

input[type="text"] {
  // background-color: lighten($grey-color-light, 45%);
  color: $brand-color-darken;
  padding: 3px;
  padding-left: 3px;
  padding-right: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid $grey-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
}

input[type="text"]:focus {
    background:$marker-color;
}

input[type="submit"] {
    border-radius:3px;
    color: #fff;
    font-weight: 800;
    font-size: 1.0em;
    text-decoration: none;
    cursor: pointer;
    border:none;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;


    background-color: transparent;
    color: $brand-color-darken;
    font-weight: 100;
    font-family: $base-font-family;
}

input[type="submit"]:hover {
    text-decoration: underline;
    background-color:transparent;
    box-shadow: 0px 0px 0px transparent;
}

input:invalid {
  background: hsla(0, 90%, 70%, 1);
}

.reserve {
  background-color: $marker-color;
  border-radius: 3px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $headline-font-family;
  a {
    color: $brand-color;
  }
  :hover {
    color: $brand-color-darken;
    text-decoration: none;
  }
}

.package {
  text-align:center;

  img {
    margin-bottom: 2em;
  }
}

.marked {
  display: block;

}
