<!DOCTYPE html>
<html>

  {% include kohi-head.html %}

  <body>

    {% include kohi-header.html %}

    <h2>Season 1</h2>

    	<p>Beans from Costa Rica<br />Tarrazú de San Ramón</p>

    	<h3>Feb 06, 2016</h3>
    	<p>Beans 75g • Air 10°C</p>
    	<li><a href="{{ site.baseurl }}/1">Batch #1</a> <span class="meta">23 min</span> ☹️</li>
    	<li><a href="http://filtrate.tumblr.com/post/138809987067/batch2">Batch #2</a> <span class="meta">14 min</span> 😒</li>
    	<li><a href="3">Batch #3</a> <span class="meta">10 min</span> 🙄&nbsp;Coarse&nbsp;grind 🤔&nbsp;Medium&nbsp;grind</li>

    	<h3>Feb 13, 2016</h3>
    	<p>Beans 90g • Air 5°C</p>
    	<li><a href="4">Batch #4</a> <span class="meta">25 min</span> </li>
    	<li><a href="5">Batch #5</a> <span class="meta">12 min</span></li>
    	<li><a href="5">Batch #6</a> <span class="meta">9 min</span></li>

    <p style="padding-top: 40px;">-------------</p>
    ⏀ <a href="blog.html">Blog</a>

  </body>

</html>
